[run]
omit =
    */migrations/*
    manage.py
    comicstore/asgi.py
    comicstore/wsgi.py
    comicstore/settings*.py
    agregar_pais.py
    cargar_*.py
    selenium_test/*
    selenium_tests/*
    pythonanywhere_wsgi.py
    locustfile.py
