    {% extends 'base.html' %}
    {% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/styleCarrito.css' %}">{% endblock %}
    {% block title %}Comicstore - Carrito{% endblock %}
    {% block content %}
    <div class="row mx-auto text-center pt-5">
        <div class="col-12 d-md-block text-center">
            <div class="mt-3" style="padding-top:7.5%; padding-bottom:7.5%;" id="mensajeCarritoVacio"></div>
            <div id="tabla" class="container">
                <h3 id="tituloCarro" class="mb-3"></h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Eliminar</th>
                                <th>Imagen</th>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody id="mostrarCarrito">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5"></td>
                                <td class="fw-bold">Total</td>
                                <td id="totalCarrito" class="fw-bold"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div> 
                <a href="{% url 'checkout' %}" id="btnCheckout" class="btn btn-primary btn-lg">Proceder al Pago</a>
            </div>
        </div>
    </div>

{% endblock %}
    {% block js %}
    <script src="{% static 'js/scriptCarro.js' %}"></script>
    {% endblock %}

   